version: '3'

services:

  nginx:
    restart: always
    build:
      context: .
      dockerfile: .docker/nginx_dockerfile
    ports:
      - '8080:80'
      - '443:443'
    volumes:
      - sockets:/tmp/
      - ./odbx/static:/app/static
      - ./logs:/var/log/nginx
      - ~/keys:/keys/
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot

  odbx:
    restart: always
    build:
      context: .
      dockerfile: .docker/odbx_dockerfile
    environment:
      MAIN: main
      OPTIMADE_CONFIG_FILE: /app/optimade_config.json
    depends_on:
      - mongo
    volumes:
      - sockets:/tmp/
      - ./odbx/static:/app/static/
      - ./logs:/app/logs/

  odbx_rest:
    restart: always
    build:
      context: .
      dockerfile: .docker/odbx_rest_dockerfile
    environment:
      MAIN: main
      OPTIMADE_CONFIG_FILE: /app/optimade_config.json
    depends_on:
      - mongo
    volumes:
      - sockets:/tmp/
      - ./logs:/app/logs/

  odbx_index:
    restart: always
    build:
      context: .
      dockerfile: .docker/odbx_index_dockerfile
    environment:
      OPTIMADE_CONFIG_FILE: /app/optimade_index_config.json
    volumes:
      - sockets:/tmp/
      - ./logs:/app/logs/

  mongo:
    restart: always
    build:
      context: .
      dockerfile: .docker/mongo_dockerfile
    command: ["mongod", "-f", "/etc/mongod.conf"]
    volumes:
      - sockets:/tmp/
      - ./logs:/var/logs/mongod/
      - /data/db/mongo:/data/db

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 24h & wait $${!}; done;'"

volumes:
    sockets:
