optimade[server]==1.0.0
uvicorn[standard]
git+https://github.com/ml-evs/matador@7b4e2a0fae2d96946af466c048fa5f7622607ea2
numpy
gunicorn>=20.0.4
aiofiles>=0.4.0
Jinja2
invoke>=1.4
pre-commit~=3.7
flake8
