<table class="cell_table">    
    <tr>
        <th> Lattice Vectors (Å) </th>
    </tr>
    <tr>
        <td> 
            {% for vec in structure_info['data']['attributes']['lattice_vectors'] %}
                {% for elem in vec %}
                {{ "{:+4.3f}".format(elem).replace('+', '&nbsp;') | safe}}
                {% endfor %}
                </br>
                {% endfor %}
        </td>
    </tr>
    <tr>
        <th> Cell Contents </th>
    </tr>
    <tr>
        <td> 
            {% for atom in structure_info['data']['attributes']['species_at_sites'] %}
                {{ "{:3}".format(atom)}}
                {% for elem in structure_info['data']['attributes']['_odbx_fractional_site_positions'][loop.index-1] %}
                    {{ "{:+9.3f}".format(elem).replace('+', '&nbsp;')|safe}}
                {% endfor %}
                </br>
            {% endfor %}
        </td>
    </tr>
</table>
