<table class="crystal_table">
    <tr>
        <th> # of atoms</br></th>
    </tr>
    <tr>
        <td> {{ structure_info['data']['attributes']['nsites'] }} </td>
    </tr>
    <tr>
        <th>Space group</th>
    </tr>
    <tr>
        <td>
            {{ structure_info['data']['attributes']['_odbx_space_group']['symbol'] }}
        </td> 
    </tr>
    <tr>
        <th> Cell volume </th>
    </tr>
    <tr>
        <td>{{ "%4.1f" | format(structure_info['data']['attributes']['_odbx_cell_volume']) }} Å³ </td>
    </tr>
</table>
