<table class="dft_table">
    <tr>
        <th> Code Version </th>
    </tr>
        <td>
            {{ "{}".format(structure_info['data']['attributes']['_odbx_calculator']['name']) }}
        </td>
    </tr>
    <tr>
        <th> xc-functional </th>
    </tr>
    <tr>
        <td>
            {{ "{}".format(structure_info['data']['attributes']['_odbx_dft_parameters']['xc_functional']) }}
        </td>
    </tr>
    <tr>
        <th> Cut-off energy </th>
    </tr>
    <tr>
        <td>
            {{ "{}".format(structure_info['data']['attributes']['_odbx_dft_parameters']['cut_off_energy']) }} eV
        </td>
    </tr>
</table>
