<div class="footer_text">
    <ul style="list-style-type: none; margin: 0; padding:0; overflow: hidden">
        <li style="padding-top: 5px;">Compliant with the <a href="https://www.optimade.org">OPTIMADE</a> specification.</li>
        <li style="padding-top: 5px;">Powered by <i class="fa fa-github"></i> <a href="https://www.github.com/Materials-Consortia/optimade-python-tools">Materials-Consortia/optimade-python-tools</a> and <i class="fa fa-github"></i> <a href="https://www.github.com/ml-evs/matador">ml-evs/matador</a></li>
        <li style="padding-top: 5px;">Written and maintained by <a href="https://ml-evs.science">Matthew Evans</a> and the <a href="https://ajm143.github.io">Andrew Morris group</a>.</li>
    </ul>
</div>
