<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <title>{{ odbx_title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="odbx,optimade,materials,crystals,database">
        {# Some HTTP hardening recommended by Mozilla Observatory: https://observatory.mozilla.org/analyze/odbx.science #}
        <meta http-equiv="Content-Security-Policy" content="default-src *; object-src 'none'; frame-ancestors 'none'">
        <meta http-equiv="X-Frame-Options" content="DENY">
        <meta http-equiv="X-Content-Type-Options" content="nosniff">
        <meta http-equiv="X-XSS-Protection" content="1; mode=block">
        <meta http-equiv="Strict-Transport-Security" content="max-age=6307200;">
        <meta http-equiv="Strict-Transport-Security" content="max-age=6307200;">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Narrow">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/odbx.css" type="text/css">
        <link rel="stylesheet" href="/css/elements.css" type="text/css">
        <script src="/js/lib/ChemDoodleWeb-8.0.0/install/ChemDoodleWeb.js", type="text/javascript"> </script>
        {% endblock %}

    </head>
    <body>
        <header>
            {% include "header.html" %}
        </header>
        {% block content %}{% endblock %}
        <footer>
            {% include "footer.html" %}
        </footer>
    </body>

</html>
