{% extends "layout.html" %}

    
{% block content %}

    <div class="content">
        <div class="body_text">
            {{ odbx_about | safe }}
        </div>
        <div class="search_box">
            <form action="/structures" method="get">
                <input type="text" name="filter" value="Search..."
                 onfocus="if(this.value=='Search...') this.value=''" onblur="if(this.value=='') this.value='Search...'">
            </form>
        </div>
        <div class="body_text">
            Example queries:
            <div class="example_queries">
                {% for query in example_queries %}
                    {{ "<a class=\"query_font\" href='./structures?filter={}'>{}</a>".format(query.strip(), query.strip()) | safe }}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
