{% extends "layout.html" %}

{% block head %}
{{ super() }}
<meta http-equiv="X-UA-Compatible" content="chrome=1">
{% endblock %}

    
{% block content %}

<div class="content">
    <div class="structure_header">
            <div class="header_text">
                <div class="odbx_id_font" style="padding-bottom: 10px">
                    {{ entry_id }}
                </div>
                <span class="formula_title">
                    {% for (elem, num) in stoichiometry %}
                    {{ "<span class=\"elements {elem}\">{elem}<sub>{num}</sub></span>".format(elem=elem, num=num if num != 1)|safe }}
                    {% endfor %}
                </span>
            </div>
    </div>

    <div class="columns"> 
        <div class="deck" id="crystal_info">
            {% include "crystallographic_info.html" %}
        </div>
        <!-- Viewer -->
        <div class="deck middle">
            <div id="viewer" class="viewer" data-cif="{{ odbx_cif_string }}" canvas-x="300" canvas-y="300">
                <script src="/js/chemdoodle_viewer.js" type="text/javascript"></script>
            </div>

            {% include "export.html" %}
            {% include "cell_info.html" %}

        </div>
        <div class="deck" id="info">
            {% include "energy_info.html" %}
            {% include "dft_info.html" %}
        </div>
    </div>
</div>

{% endblock content %}
