{% extends "layout.html" %}
{% block content %}

<div class="w3-main" style="margin-left:340px;margin-right:40px">

    <!-- Header -->
    <div class="w3-container" style="margin-top:80px" id="home">
        <h1 class="w3-jumbo"><b>{{ odbx_title }}</b></h1>
        <h1 class="w3-xxxlarge w3-text-red"><b>{{ odbx_blurb }}</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
    </div>

    <!-- About -->
    <div class="w3-container" id="about" style="margin-top:75px">
        <h1 class="w3-xxxlarge w3-text-red"><b>About.</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <p>{{ odbx_about|safe }}</p>
    </div>
</div>

{% endblock content %}
