<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ odbx_title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="odbx,optimade,materials,crystals,database">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Narrow">
        <link rel="stylesheet" href=" {{ url_for('css', path='odbx.css') }}" type="text/css">
    </head>
    <header>
        {% include "header.html" %}
    </header>
    <body>
        {% block content %}{% endblock %}
    </body>
    <footer>
        {% include "footer.html" %}
    </footer>

</html>
