{% extends "layout.html" %}

{% block head %}
{{ super() }}
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<link rel="stylesheet" href=" {{ url_for('css', path='./elements.css') }}" type="text/css">
<script src=" {{ url_for('js', path='./lib/ChemDoodleWeb-8.0.0/install/ChemDoodleWeb.js') }}", type="text/javascript"> </script>
{% endblock %}

    
{% block content %}

<div class="content">
    <div class="structure_header">
            <div class="header_text">
                <div class="odbx_id_font" style="padding-bottom: 10px">
                    {{ entry_id }}
                </div>
                <span class="formula_title">
                    {% for elem in split_formula %}
                    {{ "<span class=\"elements {}\">{}</span>".format(elem, elem)|safe }}
                    {% endfor %}
                </span>
            </div>
    </div>

    <div class="columns"> 
        <div class="deck" id="crystal_info">
            {% include "crystallographic_info.html" %}
        </div>
        <!-- Viewer -->
        <div class="deck middle">
            <div id="viewer" class="viewer" data-cif="{{ odbx_cif_string }}" canvas-x="300" canvas-y="300">
                <script src=" {{ url_for('js', path='./chemdoodle_viewer.js') }}" type="text/javascript"></script>
            </div>

            {% include "cell_info.html" %}

        </div>
        <div class="deck" id="info">
            {% include "energy_info.html" %}
        <!--</div>-->
        <!--<div class="deck" id="info">-->
            {% include "dft_info.html" %}
        </div>
    </div>
</div>

{% endblock content %}
