{% extends "layout.html" %}
    
{% block head %}
{% endblock %}

{% block content %}

<meta http-equiv="X-UA-Compatible" content="chrome=1">
<link rel="stylesheet" href=" {{ url_for('js', path='./lib/ChemDoodleWeb-8.0.0/install/ChemDoodleWeb.css') }}" type="text/css">
<script src=" {{ url_for('js', path='./lib/ChemDoodleWeb-8.0.0/install/ChemDoodleWeb.js') }}", type="text/javascript"> </script>
<div class="w3-main" style="display: flex; align-items: left; margin-left:340px;margin-right:40px">

    <div id="info" style="margin: 20px; margin-top: 100px; margin-right: auto;">
        <h1>{{ structure_info.data.id}}: {{ structure_info.data.attributes.chemical_formula_descriptive}}</h1>
        <p> 
        {{ structure_info.data.attributes._odbx_energy}}</br>
        {{ structure_info.data.attributes.nsites }} atoms</br>
        {{ structure_info.data.attributes._odbx_space_group.symbol }}</br>
        {{ structure_info.data.attributes._odbx_thermodynamics}} </p>
    </div>

    <!-- Viewer -->
    <div id="viewer" data-cif="{{ odbx_cif_string }}" canvas-x="500" canvas-y="500" style="display: flex; margin: 20px; margin-top: 100px; margin-left: 100px; margin-right: 100px; border: 1px;">
        <script src=" {{ url_for('js', path='./chemdoodle_viewer.js') }}" type="text/javascript"></script>
    </div>
</div>

{% endblock content %}
