.elements {
    padding: 0
}

.number {
    color: white;
    padding: 0
}

.H  {color: #FFFFFF}
.He {color: #D9FFFF}
.Li {color: #CC80FF}
.Be {color: #C2FF00}
.B  {color: #FFB5B5}
.C  {color: #909090}
.N  {color: #3050F8}
.O  {color: #FF0D0D}
.F  {color: #90E050}
.Ne {color: #B3E3F5}
.Na {color: #AB5CF2}
.Mg {color: #8AFF00}
.Al {color: #BFA6A6}
.Si {color: #F0C8A0}
.P  {color: #FF8000}
.S  {color: #FFFF30}
.Cl {color: #1FF01F}
.Ar {color: #80D1E3}
.K  {color: #8F40D4}
.Ca {color: #3DFF00}
.Sc {color: #E6E6E6}
.Ti {color: #BFC2C7}
.V  {color: #A6A6AB}
.Cr {color: #8A99C7}
.Mn {color: #9C7AC7}
.Fe {color: #E06633}
.Co {color: #F090A0}
.Ni {color: #50D050}
.Cu {color: #C88033}
.Zn {color: #7D80B0}
.Ga {color: #C28F8F}
.Ge {color: #668F8F}
.As {color: #BD80E3}
.Se {color: #FFA100}
.Br {color: #A62929}
.Kr {color: #5CB8D1}
.Rb {color: #702EB0}
.Sr {color: #00FF00}
.Y  {color: #94FFFF}
.Zr {color: #94E0E0}
.Nb {color: #73C2C9}
.Mo {color: #54B5B5}
.Tc {color: #3B9E9E}
.Ru {color: #248F8F}
.Rh {color: #0A7D8C}
.Pd {color: #006985}
.Ag {color: #C0C0C0}
.Cd {color: #FFD98F}
.In {color: #A67573}
.Sn {color: #668080}
.Sb {color: #9E63B5}
.Te {color: #D47A00}
.I  {color: #940094}
.Xe {color: #429EB0}
.Cs {color: #57178F}
.Ba {color: #00C900}
.La {color: #70D4FF}
.Ce {color: #FFFFC7}
.Pr {color: #D9FFC7}
.Nd {color: #C7FFC7}
.Pm {color: #A3FFC7}
.Sm {color: #8FFFC7}
.Eu {color: #61FFC7}
.Gd {color: #45FFC7}
.Tb {color: #30FFC7}
.Dy {color: #1FFFC7}
.Ho {color: #00FF9C}
.Er {color: #00E675}
.Tm {color: #00D452}
.Yb {color: #00BF38}
.Lu {color: #00AB24}
.Hf {color: #4DC2FF}
.Ta {color: #4DA6FF}
.W  {color: #2194D6}
.Re {color: #267DAB}
.Os {color: #266696}
.Ir {color: #175487}
.Pt {color: #D0D0E0}
.Au {color: #FFD123}
.Hg {color: #B8B8D0}
.Tl {color: #A6544D}
.Pb {color: #575961}
.Bi {color: #9E4FB5}
.Po {color: #AB5C00}
.At {color: #754F45}
.Rn {color: #428296}
.Fr {color: #420066}
.Ra {color: #007D00}
.Ac {color: #70ABFA}
.Th {color: #00BAFF}
.Pa {color: #00A1FF}
.U  {color: #008FFF}
.Np {color: #0080FF}
.Pu {color: #006BFF}
.Am {color: #545CF2}
.Cm {color: #785CE3}
.Bk {color: #8A4FE3}
.Cf {color: #A136D4}
.Es {color: #B31FD4}
.Fm {color: #B31FBA}
.Md {color: #B30DA6}
.No {color: #BD0D87}
.Lr {color: #C70066}
.Rf {color: #CC0059}
.Db {color: #D1004F}
.Sg {color: #D90045}
.Bh {color: #E00038}
.Hs {color: #E6002E}
.Mt {color: #EB0026}
.Ds {color: #000000}
.Rg {color: #000000}
.Cn {color: #000000}
.Nh {color: #000000}
.Fl {color: #000000}
.Mc {color: #000000}
.Lv {color: #000000}
.Ts {color: #000000}
.Og {color: #000000}
