:root {
    --odbx_main_color: #D485AD;
    --odbx_light_grey: #f2f2f2;
    --odbx_grey: #999999;
    --odbx_dark_grey: #4E4E4E;
    --odbx_pale_grey: #D3D3D3;
    --odbx_pale_blue: #6C91A7;
    --odbx_dark_bg: #333;
    --odbx_pale_green: #8EC07C;
    --odbx_pale_yellow: #FFAF00;
    --odbx_white: #FFFFFF;
    --odbx_box_shadow: 0px 0px var(--odbx_dark_grey);
    --odbx_border: solid 2px var(--odbx_dark_grey);
    --odbx_border_radius: 0.4em;
    --odbx_min_width: 500px;
}

body {    
    background-color: var(--odbx_dark_grey);
    padding: 0;
    margin: 0;
}

body, html {
    height: 100vh;
}

body,h1,h2,h3,h4,h5 {
    font-family: "Archivo Narrow", sans-serif;
    font-weight: normal;
}

body {
    font-size: 16px;
}

.body_text {
    align-text: center;
    font-size: 1.4em;
    margin: 40px;
}

.body_text a {
    color: black;
}

.content {
    min-width: var(--odbx_min_width);
    max-width: 800px;
    display: flex;
    flex-direction: column;
    background-color: var(--odbx_light_grey);
    margin: 0;
    min-height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    clear: both;
}

.query_font {
    font-family: "IBM Plex Mono", monospace;
    color: var(--odbx_pale_blue);
    background-color: var(--odbx_pale_grey);
    border: 1px solid var(--odbx_pale_blue);
    border-radius: var(--odbx_border_radius);
    padding: 5px;
}

.query_error_container {
    width: 80%;
    background-color: var(--odbx_dark_grey);
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: auto;
}

.query_error_font {
    font-family: "IBM Plex Mono", monospace;
    color: var(--odbx_pale_yellow);
    text-align: left;
    font-size: 0.5em;
    padding: 0;
}

.odbx_id_font {
    font-family: "IBM Plex Mono", monospace;
    color: var(--odbx_main_color);
    text-decoration: underline wavy var(--odbx_main_color) 2px;
    text-decoration-skip-ink: none;
    font-size: 0.8em;

}
.odbx_id_box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    align: center;
    text-align: center;
}

.header_text {
    color: var(--odbx_main_color);
    background-color: var(--odbx_white);
    padding: 0.2em 0.2em 0.2em 0.5em;
    border: 1px solid var(--odbx_grey);
    font-size: 26px;
    border-radius: var(--odbx_border_radius);
}

.formula_title {
    color: white;
    font-family: "Roboto", Arial;
    font-size: 1.4em;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
}

.odbx_title a {
    color: var(--odbx_main_color);
    font-family: "IBM Plex Mono", "Archivo Narrow", monospace;
    text-decoration: none;
    font-size: 3.4em;
    align-self: left;
    font-weight: bold;
}

th {
    background-color: var(--odbx_light_grey);
    padding-top: 5px;
    padding-bottom: 0px;
    text-align:center;
    font-weight: normal;
    font-size: 1.1em;
    background-color: white;
    border-radius: var(--odbx_border_radius);
    width: auto;
}

td {
    font-family: "IBM Plex Mono", monospace;
    text-align:center;
    padding-top: 2px;
    padding-bottom: 10px;
    background-color: white;
    color: var(--odbx_dark_grey);
    border-radius: var(--odbx_border_radius);
}

.columns {
    display: flex;
    align-items: left;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    flex-direction: row;
    justify-content: center;
}

.structure_header, .structures_header {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
    
.structure_header {
    width: 35%;
    text-align: center;
}

.structures_header {
    width: 85%;
    text-align: left;
}

.search_box {
    font-size: 32px;
    width: 85%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.search_box input {
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: "IBM Plex Mono", monospace;
    width: 80%;
    padding: 20px;
    color: var(--odbx_main_color);
    background-color: var(--odbx_white);
    border-radius: var(--odbx_border_radius);
    font-size: 32px;
}

table {
    border: 1px solid var(--odbx_grey);
    width: 100%;
    background-color: white;
    border-radius: var(--odbx_border_radius);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    margin-top: 0px;
}

.deck {
    margin: 0px;
    width: 160px;
    padding: 10px;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.middle {
    width: 300px;
}

.middle > table {
    width: 100%;

}

th {
    font-size: 1.2em;
}

.structures_table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    align: center;
    text-align:center;
    border-radius: 0;
    border: solid 1px var(--odbx_grey);
    padding: 0;
}

.structures_table th {
    color: var(--odbx_pale_blue);
    padding: 10px;
    border-radius: 0;
    border-collapse: collapse;
    border: 1px solid var(--odbx_grey);
    margin: 0;
}

.structures_table tr {
    border: solid 1px var(--odbx_grey);
    text-align: left;
}

.structures_table tr:nth-child(even) {
    background-color: var(--odbx_light_grey);
}

.structures_table td {
    padding: 10px;
    margin: 0;
    border-radius: 0;
    border: solid 1px var(--odbx_grey);
    text-align: center;
}

.structures_table a {
    color: var(--odbx_main_color);
}

.crystal_table th {
    color: var(--odbx_pale_blue);
}

.cell_table th {
    color: var(--odbx_pale_blue);
}

.energy_table th {
    color: var(--odbx_pale_blue);
}
    
.dft_table th {
    color: var(--odbx_pale_blue);
}

.viewer {
    width: 100%;
}

.topnav {
  font-size: 3.4em;
  padding-right: 30px;
}

header {
  background-color: var(--odbx_dark_bg);
  padding-top:20px;
  padding-bottom:20px;
}

.header_container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: stretch;
  align-content: center;
  flex-direction: row;
  min-width: var(--odbx_min_width);
  max-width: var(--odbx_min_width);
}

footer {
  background-color: var(--odbx_dark_bg);
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  width: 100%;
  height: 90px;
  text-align: center;
}

.footer_text {
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 12px;
  padding: 5px;
}

footer a {
  color: #f2f2f2;
}


/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding-left: 16px;
  font-size: 32px;
  padding-bottom: 16px;
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  text-decoration: underline wavy var(--odbx_main_color);
  color: var(--odbx_main_color);
}

.odbx_title a:hover {
  text-decoration: underline wavy var(--odbx_main_color);
  color: var(--odbx_main_color);
}

.example_queries {
  /*padding: 30px; */
  align: center;
  text-align: center;
  margin-top: 20px;
  margin-left:auto; 
  margin-right:auto;
  width:85%;
}

.example_queries a {
  align: center;
  text-align: center;
  text-decoration: none;
  border: solid 1px var(--odbx_dark_grey);
  background-color: var(--odbx_pale_grey);
  font-size: 0.7em;
  color: var(--odbx_pale_blue);
  padding: 10px;
}

/* Change the color of links on hover */
.example_queries a:hover {
  background-color: var(--odbx_white);
  color: var(--odbx_main_color);
}

.export_button {
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 30px; 
  margin-top: 1px;
  align: center;
  text-align: center;
}

.export_button a{
  font-size: 1.2em; 
  padding: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: var(--odbx_white);
  color: var(--odbx_pale_blue);
  margin-top: 0px;
	border: 1px solid var(--odbx_grey);
  color: var(--odbx_main_color);
}

.export_button a:hover {
  text-decoration: none;
  background-color: var(--odbx_light_grey);
  color: var(--odbx_pale_blue);
}

canvas.ChemDoodleWebComponent {
	border: 1px solid var(--odbx_grey);
  border-radius: var(--odbx_border_radius);
  box-shadow: var(--odbx_box_shadow);
  margin-bottom: 0px;
}
