name: Remote validator

on:
  schedule:
     - cron:  '0 13 * * *'
  push:
      branches:
         - master

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    steps:
    - name: Validate HTTPS
      uses: Materials-Consortia/optimade-validator-action@v2.6.0
      with:
        protocol: https
        domain: optimade.odbx.science
        path: /
        all versioned paths: true
        skip optional: true
        verbosity: 1
        minimal: true
